/* Estilos padrão (para dispositivos móveis, mobile-first) */
body {
    font-size: 16px;
    padding: 10px;
    margin: 0.7rem;
  }
  
  /* Smartphones pequenos (até 480px) */
  @media (max-width: 480px) {
    body {
      font-size: 14px;
      font-family: var(--fontPrincipal);
    }

    .perfil{
        width: 5rem;
        height: 5rem;
        align-items: center;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.2rem;
        text-align: end;
        width: 12rem;
    }

    .apresentacao__conteudo__texto{
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0.7rem;
        text-align: end;
    }

    .buttonLink{
        display: flex;
        justify-content: center;
        gap: 0.2rem;
    }

    #projetos{
        display: none;
    }

    .telaPequena{
        display: flex;
        flex-direction: row;
        overflow-x: auto;       /* Habilita rolagem horizontal */
        white-space: nowrap;    /* Mantém os elementos na mesma linha, sem quebra */
    }

    .barraRolagem .listaProjetos {
        display: inline-block;  /* Faz com que cada item fique em linha */
        margin-right: 5rem;     /* Espaçamento entre os itens */
      }

    .listaProjetos{
        border-radius: 0.5rem;
        border:0.1rem solid whitesmoke ;
        margin: 0.5rem;
        padding: 0.5rem 0;
    }


  }
  
  /* Tablets (768px a 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 18px;
    }
  }
  
  /* Laptops e desktops pequenos (1024px a 1280px) */
  @media (min-width: 1024px) {
    body {
      font-size: 20px;
      padding: 20px;
    }
  }
  
  /* Desktops grandes (1440px a 1920px) */
  @media (min-width: 1440px) {
    body {
      font-size: 22px;
    }
  }  